<section id="macroareas--list" class="macrolist">
  <div class="macrolist--box macrolist--grid grid-1">
    <div class="macrolist--grid__cell o-ratio u-1:1 grid-item--1">
      <a
        href="https://www.pedrali.com/en-us/products/chairs-design"
        class="product-preview"
        id="imageswithlink-widget_073eee93-89da-4365-8df5-1f9e7463420b"
      >
        <span class="product-preview--title">chairs</span>
        <span class="product-preview--slider">
          <div
            class="product-preview--stage"
            data-direction="horizontal"
            style="width: 1669px; left: 0px; transform: translate(-836px, 0px)"
            data-pos="-836"
          >
            <div class="item" style="left: 0%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/sedie/2024_philia.png"
                alt=""
                title=""
              />
            </div>

            <div class="item" style="left: 25%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/sedie/2024_remind.png"
                alt=""
                title=""
              />
            </div>
            <div class="item" style="left: 50%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/sedie/2024_guinea-02.png"
                alt=""
                title=""
              />
            </div>
            <div class="item" style="left: 75%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/sedie/2024_hera.png"
                alt=""
                title=""
              />
            </div>
          </div>
        </span>
      </a>
      <script data-ot-ignore="">
        if (EDIT_MODE) {
          var event = new CustomEvent("widget-loaded-event", {
            detail: {
              id: "imageswithlink-widget_073eee93-89da-4365-8df5-1f9e7463420b",
            },
          });
          this.dispatchEvent(event);
        }
      </script>
    </div>
    <div class="macrolist--grid__cell o-ratio u-1:2 grid-item--2">
      <a
        href="https://www.pedrali.com/en-us/products/stools-design-ottomans"
        class="product-preview"
        id="imageswithlink-widget_373a1d12-493f-4349-adfa-bde3a0725f05"
      >
        <span class="product-preview--title">barstools and pouf</span>
        <span class="product-preview--slider">
          <div
            class="product-preview--stage"
            data-direction="horizontal"
            style="width: 1670px; left: 0px; transform: translate(0px, 0px)"
            data-pos="0"
          >
            <div class="item" style="left: 0%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/sgabelli e pouff/2024_panarea-03.png"
                alt=""
                title=""
              />
            </div>

            <div class="item" style="left: 25%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/sgabelli e pouff/2024_stiel-02.png"
                alt=""
                title=""
              />
            </div>
            <div class="item" style="left: 50%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/sgabelli e pouff/2024_ester-stool.png"
                alt=""
                title=""
              />
            </div>
            <div class="item" style="left: 75%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/sgabelli e pouff/2024_arki-stool-02.png"
                alt=""
                title=""
              />
            </div>
          </div>
        </span>
      </a>
      <script data-ot-ignore="">
        if (EDIT_MODE) {
          var event = new CustomEvent("widget-loaded-event", {
            detail: {
              id: "imageswithlink-widget_373a1d12-493f-4349-adfa-bde3a0725f05",
            },
          });
          this.dispatchEvent(event);
        }
      </script>
    </div>
    <div class="macrolist--grid__cell o-ratio u-1:1 grid-item--3">
      <a
        href="https://www.pedrali.com/en-us/products/central-base-tables"
        class="product-preview"
        id="imageswithlink-widget_ff2d7392-17b4-495a-9b2d-87a7a0e564c2"
      >
        <span class="product-preview--title">central base tables</span>
        <span class="product-preview--slider">
          <div
            class="product-preview--stage"
            data-direction="horizontal"
            style="width: 1669px; left: 0px; transform: translate(0px, 0px)"
            data-pos="0"
          >
            <div class="item" style="left: 0%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/tavoli a base centrale/2024_blume-table_1.png"
                alt=""
                title=""
              />
            </div>

            <div class="item" style="left: 25%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/tavoli a base centrale/2024_nolita-table.png"
                alt=""
                title=""
              />
            </div>
            <div class="item" style="left: 50%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/tavoli a base centrale/2024_blume-table-big.png"
                alt=""
                title=""
              />
            </div>
            <div class="item" style="left: 75%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/tavoli a base centrale/2024_arki-base.png"
                alt=""
                title=""
              />
            </div>
          </div>
        </span>
      </a>
      <script data-ot-ignore="">
        if (EDIT_MODE) {
          var event = new CustomEvent("widget-loaded-event", {
            detail: {
              id: "imageswithlink-widget_ff2d7392-17b4-495a-9b2d-87a7a0e564c2",
            },
          });
          this.dispatchEvent(event);
        }
      </script>
    </div>
  </div>

  <div class="macrolist--box macrolist--grid grid-2">
    <div class="macrolist--grid__cell o-ratio u-2:1 grid-item--1">
      <a
        href="https://www.pedrali.com/en-us/products/tables-design"
        class="product-preview"
        id="imageswithlink-widget_21429d5a-3595-43a5-9cc3-5797102191c6"
      >
        <span class="product-preview--title">tables</span>
        <span class="product-preview--slider">
          <div
            class="product-preview--stage"
            data-direction="horizontal"
            style="width: 3379px; left: 0px; transform: translate(-845px, 0px)"
            data-pos="-845"
          >
            <div class="item" style="left: 0%; width: 844px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/tavoli/2024_rizz.png"
                alt=""
                title=""
              />
            </div>

            <div class="item" style="left: 25%; width: 844px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/tavoli/2024_anemos.png"
                alt=""
                title=""
              />
            </div>
            <div class="item" style="left: 50%; width: 844px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/tavoli/2024_frank.png"
                alt=""
                title=""
              />
            </div>
            <div class="item" style="left: 75%; width: 844px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/tavoli/2024_arki-table-adj.png"
                alt=""
                title=""
              />
            </div>
          </div>
        </span>
      </a>
      <script data-ot-ignore="">
        if (EDIT_MODE) {
          var event = new CustomEvent("widget-loaded-event", {
            detail: {
              id: "imageswithlink-widget_21429d5a-3595-43a5-9cc3-5797102191c6",
            },
          });
          this.dispatchEvent(event);
        }
      </script>
    </div>
    <div class="macrolist--grid__cell o-ratio u-2:1 grid-item--2">
      <a
        href="https://www.pedrali.com/en-us/products/sofas-design-benches"
        class="product-preview"
        id="imageswithlink-widget_2bd6400d-514a-4849-b851-e810f41d8002"
      >
        <span class="product-preview--title">sofas and benches</span>
        <span class="product-preview--slider">
          <div
            class="product-preview--stage"
            data-direction="horizontal"
            style="width: 3379px; left: 0px; transform: translate(-2535px, 0px)"
            data-pos="-2535"
          >
            <div class="item" style="left: 0%; width: 844px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/divani e panche/2024_jeff.png"
                alt=""
                title=""
              />
            </div>

            <div class="item" style="left: 25%; width: 844px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/divani e panche/2024_buddy-oasi-02.png"
                alt=""
                title=""
              />
            </div>
            <div class="item" style="left: 50%; width: 844px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/divani e panche/2024_arki-sofa.png"
                alt=""
                title=""
              />
            </div>
            <div class="item" style="left: 75%; width: 844px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/divani e panche/2024_reva-cocoon.png"
                alt=""
                title=""
              />
            </div>
          </div>
        </span>
      </a>
      <script data-ot-ignore="">
        if (EDIT_MODE) {
          var event = new CustomEvent("widget-loaded-event", {
            detail: {
              id: "imageswithlink-widget_2bd6400d-514a-4849-b851-e810f41d8002",
            },
          });
          this.dispatchEvent(event);
        }
      </script>
    </div>
  </div>

  <div class="macrolist--box macrolist--grid grid-3">
    <div class="macrolist--grid__cell o-ratio u-1:1 grid-item--1">
      <a
        href="https://www.pedrali.com/en-us/products/accessories-design"
        class="product-preview"
        id="imageswithlink-widget_22fd9e4d-2ce3-480f-8d42-d2387a2bb399"
      >
        <span class="product-preview--title">accessories</span>
        <span class="product-preview--slider">
          <div
            class="product-preview--stage"
            data-direction="horizontal"
            style="width: 1669px; left: 0px; transform: translate(0px, 0px)"
            data-pos="0"
          >
            <div class="item" style="left: 0%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/accessori/2024_cushion.png"
                alt=""
                title=""
              />
            </div>

            <div class="item" style="left: 25%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/accessori/2024_buddyhub-desk.png"
                alt=""
                title=""
              />
            </div>
            <div class="item" style="left: 50%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/accessori/2024_remind-pixel.png"
                alt=""
                title=""
              />
            </div>
            <div class="item" style="left: 75%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/accessori/2024_tweet.png"
                alt=""
                title=""
              />
            </div>
          </div>
        </span>
      </a>
      <script data-ot-ignore="">
        if (EDIT_MODE) {
          var event = new CustomEvent("widget-loaded-event", {
            detail: {
              id: "imageswithlink-widget_22fd9e4d-2ce3-480f-8d42-d2387a2bb399",
            },
          });
          this.dispatchEvent(event);
        }
      </script>
    </div>
    <div class="macrolist--grid__cell o-ratio u-1:1 grid-item--2">
      <a
        href="https://www.pedrali.com/en-us/products/lounge-chairs"
        class="product-preview"
        id="imageswithlink-widget_dfda3872-a400-4baa-8edf-a0808d6987d7"
      >
        <span class="product-preview--title">lounge chairs</span>
        <span class="product-preview--slider">
          <div
            class="product-preview--stage"
            data-direction="horizontal"
            style="width: 3379px; left: 0px; transform: translate(-1690px, 0px)"
            data-pos="-1690"
          >
            <div class="item" style="left: 0%; width: 844px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/sedute lounge/2024_lamorisse-lounge.png"
                alt=""
                title=""
              />
            </div>

            <div class="item" style="left: 25%; width: 844px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/sedute lounge/2024_ester-lounge.png"
                alt=""
                title=""
              />
            </div>
            <div class="item" style="left: 50%; width: 844px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/sedute lounge/2024_nolita-relax.png"
                alt=""
                title=""
              />
            </div>
            <div class="item" style="left: 75%; width: 844px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/sedute lounge/2022_panarea-3679_1.png"
                alt=""
                title=""
              />
            </div>
          </div>
        </span>
      </a>
      <script data-ot-ignore="">
        if (EDIT_MODE) {
          var event = new CustomEvent("widget-loaded-event", {
            detail: {
              id: "imageswithlink-widget_dfda3872-a400-4baa-8edf-a0808d6987d7",
            },
          });
          this.dispatchEvent(event);
        }
      </script>
    </div>
    <div class="macrolist--grid__cell o-ratio u-1:1 grid-item--3">
      <a
        href="https://www.pedrali.com/en-us/products/complements-design"
        class="product-preview"
        id="imageswithlink-widget_fc509375-6186-49de-9a26-4b31c34a38ba"
      >
        <span class="product-preview--title">complements</span>
        <span class="product-preview--slider">
          <div
            class="product-preview--stage"
            data-direction="horizontal"
            style="width: 1670px; left: 0px; transform: translate(-418px, 0px)"
            data-pos="-418"
          >
            <div class="item" style="left: 0%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/complementi/2024_hevea_1.png"
                alt=""
                title=""
              />
            </div>

            <div class="item" style="left: 25%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/complementi/2022_blume-system-01.png"
                alt=""
                title=""
              />
            </div>
            <div class="item" style="left: 50%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/complementi/2024_ypsilon-connect.png"
                alt=""
                title=""
              />
            </div>
            <div class="item" style="left: 75%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/complementi/2024_boxie.png"
                alt=""
                title=""
              />
            </div>
          </div>
        </span>
      </a>
      <script data-ot-ignore="">
        if (EDIT_MODE) {
          var event = new CustomEvent("widget-loaded-event", {
            detail: {
              id: "imageswithlink-widget_fc509375-6186-49de-9a26-4b31c34a38ba",
            },
          });
          this.dispatchEvent(event);
        }
      </script>
    </div>
  </div>

  <div class="macrolist--box macrolist--grid grid-4">
    <div class="macrolist--grid__cell o-ratio u-1:1 grid-item--1">
      <a
        href="https://www.pedrali.com/en-us/products/coffee-tables-design"
        class="product-preview"
        id="imageswithlink-widget_cc4398fc-ebee-41f8-85e1-7bd8d3e51ee6"
      >
        <span class="product-preview--title">coffee tables</span>
        <span class="product-preview--slider">
          <div
            class="product-preview--stage"
            data-direction="horizontal"
            style="width: 1669px; left: 0px; transform: translate(-1254px, 0px)"
            data-pos="-1254"
          >
            <div class="item" style="left: 0%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/tavolini/2024_caementum-02.png"
                alt=""
                title=""
              />
            </div>

            <div class="item" style="left: 25%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/tavolini/2024_circuit.png"
                alt=""
                title=""
              />
            </div>
            <div class="item" style="left: 50%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/tavolini/2024_buddy.png"
                alt=""
                title=""
              />
            </div>
            <div class="item" style="left: 75%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/tavolini/2024_blume.png"
                alt=""
                title=""
              />
            </div>
          </div>
        </span>
      </a>
      <script data-ot-ignore="">
        if (EDIT_MODE) {
          var event = new CustomEvent("widget-loaded-event", {
            detail: {
              id: "imageswithlink-widget_cc4398fc-ebee-41f8-85e1-7bd8d3e51ee6",
            },
          });
          this.dispatchEvent(event);
        }
      </script>
    </div>
    <div class="macrolist--grid__cell o-ratio u-1:1 grid-item--2">
      <a
        href="https://www.pedrali.com/en-us/products/lamps-design"
        class="product-preview"
        id="imageswithlink-widget_b8312afe-34ff-48db-b5ad-94b8852f71cd"
      >
        <span class="product-preview--title">lamps</span>
        <span class="product-preview--slider">
          <div
            class="product-preview--stage"
            data-direction="horizontal"
            style="width: 3379px; left: 0px; transform: translate(-2535px, 0px)"
            data-pos="-2535"
          >
            <div class="item" style="left: 0%; width: 844px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/lampade/2024_giravolta.png"
                alt=""
                title=""
              />
            </div>

            <div class="item" style="left: 25%; width: 844px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/lampade/2024_isotta.png"
                alt=""
                title=""
              />
            </div>
            <div class="item" style="left: 50%; width: 844px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/lampade/l001sw-b-listing.png"
                alt=""
                title=""
              />
            </div>
            <div class="item" style="left: 75%; width: 844px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/lampade/2024_tamara.png"
                alt=""
                title=""
              />
            </div>
          </div>
        </span>
      </a>
      <script data-ot-ignore="">
        if (EDIT_MODE) {
          var event = new CustomEvent("widget-loaded-event", {
            detail: {
              id: "imageswithlink-widget_b8312afe-34ff-48db-b5ad-94b8852f71cd",
            },
          });
          this.dispatchEvent(event);
        }
      </script>
    </div>
    <div class="macrolist--grid__cell o-ratio u-1:1 grid-item--3">
      <a
        href="https://www.pedrali.com/en-us/products/tops"
        class="product-preview"
        id="imageswithlink-widget_db889e63-d3a1-4764-a4ea-b670576e9070"
      >
        <span class="product-preview--title">tops</span>
        <span class="product-preview--slider">
          <div
            class="product-preview--stage"
            data-direction="horizontal"
            style="width: 1670px; left: 0px; transform: translate(-418px, 0px)"
            data-pos="-418"
          >
            <div class="item" style="left: 0%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/ripiani/2024_composite-marble.png"
                alt=""
                title=""
              />
            </div>

            <div class="item" style="left: 25%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/ripiani/2024_solid-laminate-03.png"
                alt=""
                title=""
              />
            </div>
            <div class="item" style="left: 50%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/ripiani/steel.png"
                alt=""
                title=""
              />
            </div>
            <div class="item" style="left: 75%; width: 417px">
              <img
                src="https://cdn-assets.pedrali.com/media/pedrali/media/products/ripiani/2024_solid-laminate-02.png"
                alt=""
                title=""
              />
            </div>
          </div>
        </span>
      </a>
      <script data-ot-ignore="">
        if (EDIT_MODE) {
          var event = new CustomEvent("widget-loaded-event", {
            detail: {
              id: "imageswithlink-widget_db889e63-d3a1-4764-a4ea-b670576e9070",
            },
          });
          this.dispatchEvent(event);
        }
      </script>
    </div>
  </div>
</section>
