.marginTopNav {
  margin-top: 80px;
}

.formlab {
  font-family: "Monoton";
  font-size: 40px;
  text-decoration: none;
}

.formlab-white {
  color: white;
}

.formlab-orange {
  color: #e3986d;
}

.nameColor {
  color: #e3986d;
}
