<footer>
  <div class="footer-content">
    <div class="contact-info">
      <h3>KAPCSOLAT</h3>
      <p>Phone: +36 30 6969420</p>
    </div>
    <div class="catalog">
      <h3>TERMÉKEK</h3>
      <ul>
        <li>Székek</li>
        <li>Asztalok</li>
        <li>Tárgyalóasztalok</li>
        <li>Fotelek</li>
        <li>Tároló bútorok</li>
        <li>Recepciós asztalok</li>
      </ul>
    </div>
    <div class="about">
      <h3>RÓLUNK</h3>
    </div>
    <div class="references">
      <h3>REFERENCIÁK</h3>
    </div>
    <div class="terms">
      <h3>ÁSZF</h3>
    </div>
    <div class="newsletter">
      <h3>HÍRLEVÉL</h3>
      <p>Újdonságok elsőkézből</p>
      <input type="email" placeholder="Email cím" />
      <button>Feliratkozom</button>
    </div>
    <div class="social-media">
      <h3>Social Media</h3>
      <a href="#">Twitter</a>
      <a href="#">Facebook</a>
      <a href="#">Instagram</a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>©2024 Minden jog fenntartva</p>
  </div>
</footer>
