.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f1f1f1;

  div {
    flex: 1;
    margin: 0 10px;
  }

  h3 {
    margin-bottom: 10px;
  }

  a {
    display: block;
    margin: 5px 0;
  }
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  background-color: #e1e1e1;
}
