<app-components-nav></app-components-nav>
<div class="text-center marginTopNav">
  <h2>A szövetek kopásállósága</h2>
</div>

<section class="container-fluid w-75 mt-5">
  <p>
    A szövetek kopásállósága fontos tényező, különösen olyan használati
    tárgyaknál, mint az irodai székek, bútorok, ruházat, autókárpitok vagy egyéb
    gyakran használt textíliák. A kopásállóság az anyag tartósságát és ellenálló
    képességét jelenti a rendszeres használat során fellépő mechanikai
    behatásokkal szemben, például súrlódás, dörzsölés vagy egyéb fizikai
    kopásokkal szemben.
  </p>
</section>
<div class="container w-75">
  <img
    src="https://images.unsplash.com/photo-1509716159367-0180b75063d0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt="textile"
    class="mw-100 mt-5"
  />
</div>
<section class="container-fluid w-75 mt-5">
  <p class="mt-5 mb-5 text-center fst-italic h4">
    Miért fontos a kopásállóság?
  </p>
  <div class="container w-75">
    <div class="row p-2">
      <p class="col-12 col-md-6">
        <span class="fw-semibold d-block">Hosszabb élettartam:</span>
        A jó kopásállóságú szövetek hosszabb ideig ellenállnak a napi
        használatnak, kevesebb eséllyel sérülnek vagy kopnak el. Ez különösen
        fontos olyan termékeknél, amelyek nagy igénybevételnek vannak kitéve.
      </p>
      <p class="col-12 col-md-6">
        <span class="fw-semibold d-block">Esztétikai megőrzés:</span>
        A szövetek kopásállósága megakadályozza, hogy idő előtt
        elhasználódjanak, kifakuljanak vagy bolyhosodjanak, így az anyag tovább
        megőrzi az eredeti megjelenését.
      </p>
    </div>
    <div class="row p-2">
      <p class="col-12 col-md-6">
        <span class="fw-semibold d-block">Gazdaságosság:</span>
        A magas kopásállóságú szövetek hosszabb távon kevesebb karbantartást
        vagy cserét igényelnek, így gazdaságosabb megoldást jelentenek mind az
        egyéni vásárlók, mind a vállalatok számára.
      </p>
      <p class="col-12 col-md-6">
        <span class="fw-semibold d-block">Funkcionalitás:</span>
        Egy kopásálló szövet megőrzi funkcionalitását és szerkezeti integritását
        a használat során, így nem csak szép, de kényelmes is marad, például a
        párnázott székeknél vagy kárpitoknál.
      </p>
    </div>
  </div>
  <article class="container w-75">
    <p class="mt-5 mb-4 text-center fst-italic h4">
      Miben mérjük a kopásállóságot?
    </p>
    <p class="pb-2">
      A szövetek kopásállóságát Martindale-teszt vagy dörzsállósági teszt
      segítségével mérik, ami egy nemzetközileg elismert szabvány. A
      Martindale-teszt során egy mintadarabot súrlódásnak tesznek ki, miközben
      egy szintetikus anyaggal dörzsölik különböző nyomással és sebességgel, míg
      el nem kezd kopni vagy meg nem szakad.
    </p>
    <div class="pb-2 text-center">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/QOk0dJtw6nU?si=k5MSf-82rNDMJsiF"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    <p class="pt-2">
      Az eredményt dörzsciklusokban (vagy fordulatokban) mérik. Minél magasabb a
      ciklusszám, annál ellenállóbb a szövet a kopással szemben.
    </p>
    <div class="row p-2 justify-content-center">
      <div class="col-6 col-md-4">
        <p>
          <span class="fw-semibold d-block">10 000 ciklus alatt:</span>Alkalmas
          kevésbé igénybe vett helyekre.
        </p>
      </div>
      <div class="col-6 col-md-4">
        <p>
          <span class="fw-semibold d-block">10 000-30 000 ciklus:</span>
          Alkalmas átlagos használatú helyekre, például lakóterekbe.
        </p>
      </div>
      <div class="col-6 col-md-4">
        <p>
          <span class="fw-semibold d-block">40 000 ciklus fölött:</span>
          Nagyon kopásálló anyag, amely ideális irodai bútorokhoz vagy más,
          intenzív használatú terekbe.
        </p>
      </div>
    </div>
  </article>
</section>
