<footer class="footer text-light py-4" style="background-color: #063034">
  <div class="container">
    <div class="row">
      <!-- Contact Info -->
      <div class="col-md-4 mb-3">
        <h4 class="footer-title">Kapcsolat</h4>
        <p>Telefon: +36 30 487 4038</p>
        <p>Email: info@rodyn.hu</p>
        <p>1112 Budapest Kökörcsin utca 4.</p>
        <a href="/aszf" class="footer-link">Adatkezelési tájékoztató</a>
      </div>
    </div>
  </div>

  <!-- Footer Bottom -->
  <div class="footer-bottom text-center py-2" style="background-color: #063034">
    <p class="mb-0">©2024 Minden jog fenntartva</p>
  </div>
</footer>
