<nav class="navbar">
  <div class="container">
    <!-- Bal oldali felirat -->
    <div class="navbar-brand">
      <a routerLink="/" class="brand-text">RODYN</a>
    </div>

    <!-- Jobb oldali menü + hamburger -->
    <div class="menu-wrapper">
      <button class="navbar-toggler" (click)="toggleNavbar()">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="navbar-collapse" [ngClass]="{ show: navbarOpen }">
        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/home">Főoldal</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/about">Rólunk</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/services">Szolgáltatások</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/kapcsolat">Kapcsolat</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
