.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.hero-content {
  position: relative;
  z-index: 2;
  color: white;
  padding: 3rem;
}
.slide-in-left {
  opacity: 0;
  transform: translateX(-50px);
  animation: slideInLeft 1s forwards;
}

.slide-in-left.show {
  transform: translateX(0);
  opacity: 1;
}

.delay {
  transition-delay: 0.3s;
}

.hidden {
  pointer-events: none;
}
