.icon {
  width: 24px;
  height: auto;
  margin-right: 5px;
  margin-left: 5px;
}

// Dropdown stílusok
.dropdown-item {
  display: flex;
  align-items: center;

  &:hover {
    background-color: #f1f1f1;
  }
}
