<div class="d-flex ms-auto">
  <!-- 🔍 Kereső ikon – KIKOMMENTELVE
  <a href="#" class="p-2 link-dark">
    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
  </a>
  -->

  <!-- 👤 Bejelentkezés / user ikon + dropdown – KIKOMMENTELVE
  <div class="dropdown p-2">
    <a
      class="link-dark dropdown-toggle"
      id="dropdownUserMenu"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <i class="fa-regular fa-user fa-xl"></i>
    </a>
    <ul
      class="dropdown-menu dropdown-menu-end"
      aria-labelledby="dropdownUserMenu"
    >
      <ul>
        <li
          class="nav-item singInOrOut"
          *ngIf="!(loggedInStatus$ | async)"
        >
          <a class="nav-link" routerLink="/sign-in">Bejelentkezés</a>
        </li>
        <li class="nav-item singInOrOut" *ngIf="loggedInStatus$ | async">
          <a class="nav-link" (click)="logout()">Kijelentkezés</a>
        </li>
      </ul>
    </ul>
  </div>
  -->

  <!-- 🛒 Kosár – MARAD -->
  <a routerLink="/shooping-basket" class="p-2 link-dark">
    <i class="fa-solid fa-basket-shopping fa-xl">
      <span
        *ngIf="basketItemCount > 0"
        class="position-absolute translate-middle badge rounded-pill bg-danger badge-notification"
      >
        {{ basketItemCount }}
      </span>
    </i>
  </a>
</div>
