<!-- <app-components-nav></app-components-nav>
<main class="marginTopNav">
  <section class="container w-75 pt-3" *ngIf="product">
    <div class="row align-items-stretch pb-5">
      <div class="col-12 col-md-6 text-center">
        <img [src]="product.images" [alt]="product.name" class="pb-3" />
      </div>
      <div class="col-12 col-md-6 text-start">
        <h3 class="pb-1">Termék név {{ product.name }}</h3>
        <h6 class="pb-2">Termék gyártó {{ product.manufacturer }}</h6>
        <h6 class="pb-3">Termék ár {{ product.price | currency }}</h6>
        <p class="pb-5">
          <strong>Leírás:</strong>Leírás {{ product.description }}
        </p>

        <button class="btn btn-dark text-white">Kosárba teszem</button>
      </div>
    </div>
    <section>
      <h3>Kapcsolódó termékek</h3>
    </section>
  </section>
</main>

 -->
