<div class="card text-dark mx-auto">
  <div *ngIf="isAdmin" class="card-header d-flex justify-content-between">
    <a class="badge-delete">
      <i
        class="fa-regular fa-circle-xmark fa-2xl"
        style="color: #d92020"
        (click)="deleteProduct.next(product)"
      ></i>
    </a>
    <a class="badge-update" routerLink="/product-form/{{ product.id }}">
      <i class="fa-solid fa-pen fa-xl" style="color: #1a4566"></i>
    </a>
  </div>

  <a
    class="card-body d-flex flex-column"
    routerLink="/product-page/{{ product.category }}/{{ product.id }}"
  >
    <span class="card-title mt-0">
      <span class="text-dark h4">{{ product.name }}</span>
    </span>
    <div class="flex-grow-1 flex-shrink-1">
      <img
        class="w-100 h-100 object-fit-cover"
        src="{{ product.images }}"
        alt="{{ product.name }}"
      />
    </div>
  </a>
  <span class="card-footer text-center mt-3">
    <p class="mb-0">{{ product.price }} Forint</p>
  </span>
</div>
