.main-image {
  width: 100%;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

.map-wrapper {
  margin-top: 2rem;
  width: 100%;
  max-width: 1200px;
  height: 400px;
  background-color: #f0f0f0; /* halvány szürke */
  border-radius: 8px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.map-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Mobilbarát verzió */
@media screen and (max-width: 650px) {
  .map-wrapper {
    height: 300px; /* kisebb térkép */
  }
}
