<section class="container-fluid bg-secondary-subtle p-1">
  <div class="p-4">
    <h3>Irodai trendek 2024-ben</h3>
    <div
      id="carouselExampleDark-small"
      class="carousel slide carousel-dark d-lg-none"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row justify-content-center">
            <div class="col-10 mt-3">
              <div class="card text-center">
                <div class="card-body">
                  <img
                    src="https://images.unsplash.com/photo-1571624436279-b272aff752b5?q=80&w=872&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="card-img-top"
                    alt="office desk"
                  />
                  <h5 class="card-title mt-3">Article 1</h5>
                  <p class="card-text">
                    With supporting text below as a natural lead-in to
                    additional content.
                  </p>
                  <a href="#" class="btn btn-dark">Tovább...</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-10 mt-3">
              <div class="card text-center">
                <div class="card-body">
                  <img
                    src="https://images.unsplash.com/photo-1571624436279-b272aff752b5?q=80&w=872&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="card-img-top"
                    alt="office desk"
                  />
                  <h5 class="card-title mt-3">Article 2</h5>
                  <p class="card-text">
                    With supporting text below as a natural lead-in to
                    additional content.
                  </p>
                  <a href="#" class="btn btn-dark">Tovább...</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-10 mt-3">
              <div class="card text-center">
                <div class="card-body">
                  <img
                    src="https://images.unsplash.com/photo-1571624436279-b272aff752b5?q=80&w=872&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="card-img-top"
                    alt="office desk"
                  />
                  <h5 class="card-title mt-3">Article 3</h5>
                  <p class="card-text">
                    With supporting text below as a natural lead-in to
                    additional content.
                  </p>
                  <a href="#" class="btn btn-dark">Tovább...</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleDark-small"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleDark-small"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div
      id="carouselExampleDark-large"
      class="carousel slide carousel-dark d-none d-lg-block"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row justify-content-center">
            <div class="col-10 col-md-6 col-lg-3 mt-3">
              <div class="card text-center">
                <div class="card-body">
                  <img
                    src="https://images.unsplash.com/photo-1571624436279-b272aff752b5?q=80&w=872&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="card-img-top"
                    alt="office desk"
                  />
                  <h5 class="card-title mt-3">Article 1</h5>
                  <p class="card-text">
                    With supporting text below as a natural lead-in to
                    additional content.
                  </p>
                  <a href="#" class="btn btn-dark">Tovább...</a>
                </div>
              </div>
            </div>
            <div class="col-10 col-md-6 col-lg-3 mt-3">
              <div class="card text-center">
                <div class="card-body">
                  <img
                    src="https://images.unsplash.com/photo-1571624436279-b272aff752b5?q=80&w=872&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="card-img-top"
                    alt="office desk"
                  />
                  <h5 class="card-title mt-3">Article 2</h5>
                  <p class="card-text">
                    With supporting text below as a natural lead-in to
                    additional content.
                  </p>
                  <a href="#" class="btn btn-dark">Tovább...</a>
                </div>
              </div>
            </div>
            <div class="col-10 col-md-6 col-lg-3 mt-3">
              <div class="card text-center">
                <div class="card-body">
                  <img
                    src="https://images.unsplash.com/photo-1571624436279-b272aff752b5?q=80&w=872&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="card-img-top"
                    alt="office desk"
                  />
                  <h5 class="card-title mt-3">Article 3</h5>
                  <p class="card-text">
                    With supporting text below as a natural lead-in to
                    additional content.
                  </p>
                  <a href="#" class="btn btn-dark">Tovább...</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-10 col-md-6 col-lg-3 mt-3">
              <div class="card text-center">
                <div class="card-body">
                  <img
                    src="https://images.unsplash.com/photo-1571624436279-b272aff752b5?q=80&w=872&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="card-img-top"
                    alt="office desk"
                  />
                  <h5 class="card-title mt-3">Article 4</h5>
                  <p class="card-text">
                    With supporting text below as a natural lead-in to
                    additional content.
                  </p>
                  <a href="#" class="btn btn-dark">Tovább...</a>
                </div>
              </div>
            </div>
            <div class="col-10 col-md-6 col-lg-3 mt-3">
              <div class="card text-center">
                <div class="card-body">
                  <img
                    src="https://images.unsplash.com/photo-1571624436279-b272aff752b5?q=80&w=872&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="card-img-top"
                    alt="office desk"
                  />
                  <h5 class="card-title mt-3">Article 5</h5>
                  <p class="card-text">
                    With supporting text below as a natural lead-in to
                    additional content.
                  </p>
                  <a href="#" class="btn btn-dark">Tovább...</a>
                </div>
              </div>
            </div>
            <div class="col-10 col-md-6 col-lg-3 mt-3">
              <div class="card text-center">
                <div class="card-body">
                  <img
                    src="https://images.unsplash.com/photo-1571624436279-b272aff752b5?q=80&w=872&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="card-img-top"
                    alt="office desk"
                  />
                  <h5 class="card-title mt-3">Article 6</h5>
                  <p class="card-text">
                    With supporting text below as a natural lead-in to
                    additional content.
                  </p>
                  <a href="#" class="btn btn-dark">Tovább...</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-10 col-md-6 col-lg-3 mt-3">
              <div class="card text-center">
                <div class="card-body">
                  <img
                    src="https://images.unsplash.com/photo-1571624436279-b272aff752b5?q=80&w=872&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="card-img-top"
                    alt="office desk"
                  />
                  <h5 class="card-title mt-3">Article 7</h5>
                  <p class="card-text">
                    With supporting text below as a natural lead-in to
                    additional content.
                  </p>
                  <a href="#" class="btn btn-dark">Tovább...</a>
                </div>
              </div>
            </div>
            <div class="col-10 col-md-6 col-lg-3 mt-3">
              <div class="card text-center">
                <div class="card-body">
                  <img
                    src="https://images.unsplash.com/photo-1571624436279-b272aff752b5?q=80&w=872&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="card-img-top"
                    alt="office desk"
                  />
                  <h5 class="card-title mt-3">Article 8</h5>
                  <p class="card-text">
                    With supporting text below as a natural lead-in to
                    additional content.
                  </p>
                  <a href="#" class="btn btn-dark">Tovább...</a>
                </div>
              </div>
            </div>
            <div class="col-10 col-md-6 col-lg-3 mt-3">
              <div class="card text-center">
                <div class="card-body">
                  <img
                    src="https://images.unsplash.com/photo-1571624436279-b272aff752b5?q=80&w=872&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="card-img-top"
                    alt="office desk"
                  />
                  <h5 class="card-title mt-3">Article 9</h5>
                  <p class="card-text">
                    With supporting text below as a natural lead-in to
                    additional content.
                  </p>
                  <a href="#" class="btn btn-dark">Tovább...</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleDark-large"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleDark-large"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
