body {
  /* Created with https://www.css-gradient.com */
  background: #161616;
}

h1 {
  color: #0c0101;
}

.wrapper {
  margin: 10vh;
}

.card {
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  min-height: 400px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  width: 80%;
  max-width: 300px;
  display: flex;
  flex-direction: column; // A kártya elemeit oszlopba rendezi
  height: 100%; // A kártya teljes magasságát használja

  &.card-has-bg {
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
    }

    &:hover {
      transform: scale(0.98);
      box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
      background-size: 100%;

      .card-img {
        max-width: 80%;
        height: auto;
        margin: 0 auto;
        transition: max-width 500ms ease;
      }
    }
  }

  .card-title {
    font-weight: 600;
  }
  .card-footer {
    color: rgba(0, 0, 0, 1);

    font-weight: 500;
    letter-spacing: 2px;
    text-align: center; // Középre igazítja a szöveget
    margin-top: auto; // A felső tartalom eltolása, hogy a footer alulra kerüljön
  }

  .card-body {
    flex: 1; // A card-body rész kitölti a rendelkezésre álló helyet
    display: flex;
    flex-direction: column; // A kártya tartalmát oszlopba rendezi
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  &:hover {
    .card-body {
      margin-top: 10px;
    }
    cursor: pointer;
  }

  .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
}
