<app-components-nav></app-components-nav>
<section class="container w-75 marginTopNav">
  <h2 class="text-center">Gyártói Katalógusok</h2>
  <p class="text-center fst-italic pt-3">
    Tekintsd meg átfogó gyártói katalógusainkat! Az oldal elsősorban
    belsőépítészeknek és lakberendezőknek szól, akik tervezéseik során egyedi
    igényekkel és megoldásokkal találkoznak. Ha kérdésed van, fordulj bizalommal
    tanácsadóinkhoz.
  </p>
  <div class="row pt-4">
    <div class="col-12 col-md-6 col-xl-4">
      <div class="pb-3">
        <div class="card" style="width: 18rem">
          <img
            src="https://images.unsplash.com/photo-1633975847368-a2b19b00bf44?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="card-img-top"
            alt="catalog"
          />
          <div class="card-body bg-body-secondary">
            <h5 class="card-title">Nara Katalógus</h5>
            <p class="card-text fw-semibold">2024</p>
            <a
              href="/catalogs/peldaKatalogus.pdf"
              target="_blank"
              class="btn btn-outline-secondary"
              >Megnyitás</a
            >
          </div>
        </div>
      </div>
      <div class="pt-3">
        <div class="card" style="width: 18rem">
          <img
            src="https://images.unsplash.com/photo-1633975847368-a2b19b00bf44?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="card-img-top"
            alt="catalog"
          />
          <div class="card-body bg-body-secondary">
            <h5 class="card-title">Nara Katalógus</h5>
            <p class="card-text fw-semibold">2024</p>
            <a href="#" class="btn btn-outline-secondary">Megnyitás</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-4">
      <div class="pb-3">
        <div class="card" style="width: 18rem">
          <img
            src="https://images.unsplash.com/photo-1633975847368-a2b19b00bf44?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="card-img-top"
            alt="catalog"
          />
          <div class="card-body bg-body-secondary">
            <h5 class="card-title">Nara Katalógus</h5>
            <p class="card-text fw-semibold">2024</p>
            <a href="#" class="btn btn-outline-secondary">Megnyitás</a>
          </div>
        </div>
      </div>
      <div class="pt-3">
        <div class="card" style="width: 18rem">
          <img
            src="https://images.unsplash.com/photo-1633975847368-a2b19b00bf44?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="card-img-top"
            alt="catalog"
          />
          <div class="card-body bg-body-secondary">
            <h5 class="card-title">Nara Katalógus</h5>
            <p class="card-text fw-semibold">2024</p>
            <a href="#" class="btn btn-outline-secondary">Megnyitás</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-4">
      <div class="pb-3">
        <div class="card" style="width: 18rem">
          <img
            src="https://images.unsplash.com/photo-1633975847368-a2b19b00bf44?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="card-img-top"
            alt="catalog"
          />
          <div class="card-body bg-body-secondary">
            <h5 class="card-title">Nara Katalógus</h5>
            <p class="card-text fw-semibold">2024</p>
            <a href="#" class="btn btn-outline-secondary">Megnyitás</a>
          </div>
        </div>
      </div>
      <div class="pt-3 pb-3">
        <div class="card" style="width: 18rem">
          <img
            src="https://images.unsplash.com/photo-1633975847368-a2b19b00bf44?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="card-img-top"
            alt="catalog"
          />
          <div class="card-body bg-body-secondary">
            <h5 class="card-title">Nara Katalógus</h5>
            <p class="card-text fw-semibold">2024</p>
            <a href="#" class="btn btn-outline-secondary">Megnyitás</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
