.marginTopNav {
  margin-top: 80px;
}

.badge-delete {
  position: absolute;
  top: 10px;
  left: 5px;
  text-align: center;
  cursor: pointer;
}
.badge-update {
  position: absolute;
  top: 10px;
  right: 5px;
  text-align: center;
  cursor: pointer;
}
