<app-components-nav></app-components-nav>

<div class="text-center">
  <img
    src="https://images.unsplash.com/photo-1517502884422-41eaead166d4?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt="office chair"
    class="img-fluid"
  />
</div>
<section class="container-fluid mt-3">
  <h2 class="text-center p-3">Miért jó a deréktámasz az irodai székeknél?</h2>
  <article class="">
    <p class="mt-5 mb-5 text-center fst-italic h5">
      A deréktámasz az irodai székeken számos okból fontos és előnyös:
    </p>
    <div class="container w-75">
      <h6 class="text-uppercase">Gerinctámogatás</h6>
      <p>
        Az irodai munka során hosszú órákat töltünk ülve, ami a gerincre komoly
        terhelést róhat, különösen az ágyéki (deréki) szakaszra. A deréktámasz
        segít fenntartani a természetes S-alakot a gerincben, megakadályozva,
        hogy a hát alsó része túlzottan megfeszüljön vagy túlterhelődjön.
      </p>
      <hr class="border border-secondary border-1 oppacity-75" />
      <h6 class="text-uppercase">Jobb testtartás</h6>
      <p>
        A megfelelő deréktámasz ösztönzi a helyes testtartást, ezáltal
        csökkentve az előrehajlást vagy a görnyedt ülést, amelyek hosszú távon
        fájdalmakat és egészségügyi problémákat okozhatnak, mint például a
        gerincferdülés vagy a hátfájás.
      </p>
      <hr class="border border-secondary border-1 oppacity-75" />
      <h6 class="text-uppercase">Csökkenti a fáradtságot és fájdalmat</h6>
      <p>
        Helyes testtartás mellett a gerinc izmai és szalagjai kevésbé fáradnak
        el. A deréktámasz biztosítja, hogy a gerincoszlop optimális helyzetben
        maradjon, így elkerülhetők a krónikus hát- és derékfájdalmak.
      </p>
      <hr class="border border-secondary border-1 oppacity-75" />
      <h6 class="text-uppercase">Növeli a komfortérzetet</h6>
      <p>
        A deréktámasz kényelmesebb ülést biztosít, különösen hosszú
        munkanapokon. Ha a gerinc és a derék megfelelően támasztva van, kevésbé
        érezzük magunkat fáradtnak vagy kényelmetlennek.
      </p>
      <hr class="border border-secondary border-1 oppacity-75" />
      <h6 class="text-uppercase">Javítja a koncentrációt és a teljesítményt</h6>
      <p>
        Ha nincs fájdalom vagy kényelmetlenség a hosszú ülő munka során,
        könnyebb koncentrálni, és így hatékonyabbak lehetünk a munkában.
      </p>
    </div>
    <div class="text-center pt-4">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/t9raWIKoxSU?si=zJjFrGRbuZvs3wqb"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    <div class="container w-75 pt-4">
      <p>
        A kényelmes irodai forgószékek rengeteget segítenek, ha napközben sokat
        ülsz. Jobban koncentrálhatsz a munkádra, mert nem kell hát- vagy
        derékfájással küszködnöd. A nálunk kapható forgószékek és irodai székek
        olyan kiegészítőkkel kaphatók, mint az állítható magasságú és dőlésszögű
        ülések, dönthető háttámlák és karfák. A minőségi irodai forgószék a
        csípődet is megtámasztja. A forgószékek különböző stílusúak lehetnek,
        így bármilyen környezetben - irodákban, rendelőkben, otthon megállják a
        helyüket.
      </p>
    </div>
  </article>
</section>
