<nav class="navbar fixed-top bg-secondary bg-opacity-25">
  <div class="container-fluid">
    <!-- Navbar toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand logo -->
    <a class="navbar-brand mx-auto text-center formlab" routerLink="/">
      <span class="formlab-white">Form</span>
      <span class="formlab-orange">Lab</span>
    </a>

    <!-- Right side icons -->
    <div class="d-flex ms-auto">
      <a
        href="#"
        class="p-2 link-dark"
        (click)="toggleSearchOverlay($event)"
        aria-label="Keresés megnyitása"
      >
        <i class="fa-solid fa-magnifying-glass fa-xl"></i>
      </a>
      <a routerLink="/sign-in" class="p-2 link-dark" aria-label="Bejelentkezés">
        <i class="fa-regular fa-user fa-xl"></i>
      </a>
    </div>

    <!-- Offcanvas navigation -->
    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
      data-bs-scroll="true"
    >
      <div class="offcanvas-header bg-secondary-subtle">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          <span class="formlab-white">Form</span>
          <span class="formlab-orange">Lab</span>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Bezárás"
        ></button>
      </div>
      <div class="offcanvas-body bg-secondary-subtle">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Főoldal</a>
          </li>
          <li class="nav-item" *ngIf="!(loggedInStatus$ | async)">
            <a class="nav-link" routerLink="/sign-in">Bejelentkezés</a>
          </li>
          <li class="nav-item" *ngIf="loggedInStatus$ | async">
            <a class="nav-link" (click)="logout()">Kijelentkezés</a>
          </li>
          <li class="nav-item" *ngIf="loggedInStatus$ | async">
            <a class="nav-link" routerLink="/catalog">Katalógusok</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- Search overlay -->
<div
  class="search-overlay"
  *ngIf="isSearchOverlayVisible"
  role="dialog"
  aria-label="Keresési mező"
>
  <div class="search-container">
    <input
      type="text"
      class="form-control"
      placeholder="Keresés..."
      [(ngModel)]="searchQuery"
      (input)="onSearch()"
      aria-label="Keresési mező"
    />
    <div class="search-results">
      <div
        class="col-sm-12 col-md-6 col-lg-4 mb-4"
        *ngFor="let product of searchResults"
      >
        <app-product-card [product]="product"></app-product-card>
      </div>
    </div>
  </div>
</div>
