.formlab {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.formmlab-white {
  color: white;
  background-color: 2px 2px 0px rgb(0, 0, 0);
  font-family: "Monoton";
  font-size: 25px;
  text-decoration: none;
}

.formlab-orange {
  color: #e3986d;
  background-color: 2px 2px 0px black;
  font-family: "Monoton";
  font-size: 25px;
  text-decoration: none;
}

.icon {
  width: 20px;
  height: auto;
  margin-right: 5px;
  margin-left: 5px;
}

.dropdown-item {
  display: flex;
  align-items: center;

  &:hover {
    background-color: #f1f1f1;
  }
}

.nav-link {
  cursor: pointer;
}

.badge-notification {
  font-size: 0.5rem;
  transform: translate(0%, -50%);
  top: 45px;
  right: 5px;
}

.singInOrOut {
  list-style: none;
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
}

.search-results {
  margin-top: 20px;
}
