@import url(https://fonts.googleapis.com/css2?family=Monoton&display=swap);

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "ngx-toastr/toastr-bs5-alert";
