$font-family-base: "Roboto", sans-serif;
$headings-font-family: "Monoton", cursive;

// 2️⃣ Bootstrap betöltése
@use "bootstrap/scss/bootstrap" as *;

// 3️⃣ ngx-toastr betöltése
@use "ngx-toastr/toastr-bs5-alert";

// 4️⃣ Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:wght@400;700&display=swap");

// 5️⃣ Saját stílusok
body {
  background-color: #f8f9fa;
  color: #212529;
  font-family: $font-family-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings-font-family;
}
