body {
  background: #161616;
}

h1 {
  color: #0c0101;
}

.wrapper {
  margin: 10vh;
}

.card {
  border: none;
  transition: all 200ms ease-in-out;
  overflow: hidden;
  min-height: 400px;
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 80%;
  max-width: 300px;
  display: flex;
  flex-direction: column; // A kártya elemeit oszlopba rendezi
  height: 100%; // A kártya teljes magasságát használja

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  }

  .card-title {
    font-weight: 600;
    text-align: center;
  }
  .card-footer {
    color: rgba(0, 0, 0, 1);

    font-weight: 500;
    letter-spacing: 2px;
    text-align: center; // Középre igazítja a szöveget
    margin-top: auto; // A felső tartalom eltolása, hogy a footer alulra kerüljön
  }

  .card-body {
    flex: 1; // A card-body rész kitölti a rendelkezésre álló helyet
    display: flex;
    flex-direction: column; // A kártya tartalmát oszlopba rendezi
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .h3 {
    top: 600px;
  }

  .card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
}
