<app-components-nav></app-components-nav>
<section class="container marginTopNav">
  <h3 class="pt-4">A bőr és műbőr kárpitok tisztítása és ápolása</h3>
  <p class="p-2">
    A bőr és műbőr kárpitok megfelelő tisztítása és ápolása segít megőrizni azok
    tartósságát, esztétikai megjelenését, és megelőzi az anyag károsodását. Bár
    a bőr és a műbőr hasonlítanak egymásra, különböző típusú anyagok, ezért
    bizonyos tisztítási és ápolási eljárások eltérhetnek. Íme néhány tipp
    mindkét anyag típusra vonatkozóan:
  </p>
  <div class="text-center">
    <img
      src="https://images.unsplash.com/photo-1451930393367-e1e01fc2bacc?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
      class="w-75"
    />
  </div>
  <h4 class="p-4 text-center">Bőr tisztítása és ápolása</h4>
  <div class="row">
    <div class="col-12 col-md-6">
      <p class="text-center fw-semibold">Tisztítás:</p>
      <ol class="">
        <li class="p-2">
          <u>Portalanítás:</u> A bőr kárpitot rendszeresen portalanítsd puha,
          száraz kendővel vagy mikroszálas törlőkendővel. Ez megelőzi a
          szennyeződések felhalmozódását.
        </li>
        <li class="p-2">
          <u>Enyhe tisztítás:</u> Keverj össze langyos vizet enyhe szappannal
          (például baba- vagy szappanmentes mosószerrel). Egy puha ruhát enyhén
          nedvesíts be a keverékkel, majd óvatosan töröld át a bőr felületét.
          Soha ne használj túl sok vizet, mert a bőr nem szereti a nedvességet.
        </li>
        <li class="p-2">
          <u>Folttisztítás:</u> Ha makacsabb foltokkal találkozol (pl. étel,
          ital, zsír), használj kifejezetten bőrhöz való tisztítószert, amely
          kíméletes a bőrhöz. A folt eltávolítása után mindig alaposan töröld
          szárazra a felületet.
        </li>
        <li class="p-2">
          <u>Kerüld a durva vegyszereket:</u> Soha ne használj erős
          tisztítószereket, ammóniát vagy alkoholos tisztítószereket, mert ezek
          károsíthatják a bőrt.
        </li>
      </ol>
    </div>
    <div class="col-12 col-md-6">
      <p class="text-center fw-semibold">Ápolás:</p>
      <ol>
        <li class="p-2">
          <u>Bőr kondicionálása:</u> A bőr természetes anyag, amely idővel
          veszíthet rugalmasságából és kiszáradhat. Használj bőrkondicionálót,
          amely segít megőrizni az anyag puhaságát és fényét. A kondicionálót
          általában 6-12 havonta érdemes alkalmazni.
        </li>
        <li class="p-2">
          <u>Napfény elleni védelem:</u> A bőr érzékeny a közvetlen napfényre,
          amely idővel kifakíthatja vagy kiszáríthatja. Kerüld a bútorok
          elhelyezését közvetlen napfényben.
        </li>
        <li class="p-2">
          <u>Vízállóság fenntartása:</u> Ha a bőr vízálló bevonattal
          rendelkezik, azt időnként újra kell kezelni speciális vízlepergető
          spray-vel vagy balzsammal.
        </li>
      </ol>
    </div>
  </div>
  <div class="container w-75 text-center">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/qC6D511sZcQ?si=v1S_exL9297JZpaK"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
  <h4 class="p-4 text-center">Műbőr tisztítása és ápolása</h4>
  <div class="row">
    <div class="col-12 col-md-6">
      <p class="text-center fw-semibold">Tisztítás:</p>
      <ol class="">
        <li class="p-2">
          <u>Rendszeres portalanítás:</u> A műbőr felületét rendszeresen töröld
          át egy puha, száraz ronggyal vagy mikroszálas törlőkendővel.
        </li>
        <li class="p-2">
          <u>Langyos vizes tisztítás:</u> A műbőr kevésbé érzékeny a vízre, mint
          a valódi bőr. Keverj össze langyos vizet és enyhe szappant, majd egy
          puha kendővel óvatosan töröld át a felületet. Ügyelj arra, hogy ne
          hagyj túl sok nedvességet az anyagon.
        </li>
        <li class="p-2">
          <u>Zsíros foltok kezelése:</u> Ha zsíros folt keletkezik a műbőrön,
          egy alkoholmentes, műbőrhöz kifejlesztett tisztítószerrel távolítsd
          el. Mindig végezz próbát egy kevésbé látható helyen, hogy
          megbizonyosodj arról, hogy nem károsítja az anyagot.
        </li>
        <li class="p-2">
          <u>Kerüld a durva súrolószereket:</u> A műbőr is érzékeny lehet a
          karcolásra és a durva vegyszerekre, ezért ne használj súrolószivacsot
          vagy erős tisztítószereket.
        </li>
      </ol>
    </div>
    <div class="col-12 col-md-6">
      <p class="text-center fw-semibold">Ápolás:</p>
      <ol>
        <li class="p-2">
          <u>Műbőr ápolószerek:</u> Bár a műbőr nem igényel annyira gyakori
          kondicionálást, mint a valódi bőr, érdemes időnként speciális műbőr
          ápolószerrel átkenni, amely segít megőrizni az anyag rugalmasságát és
          fényét.
        </li>
        <li class="p-2">
          <u>Napfény elleni védelem:</u> A műbőr, akárcsak a valódi bőr,
          érzékeny a napfényre. Ha lehet, védd a közvetlen napfénytől, hogy ne
          fakuljon ki és ne repedezzen meg.
        </li>
        <li class="p-2">
          <u>Repedezés megelőzése:</u> Bár a műbőr kevésbé hajlamos a
          kiszáradásra, ha túl száraz levegőjű helyen van (pl. fűtött vagy
          légkondicionált térben), az anyag idővel repedezhet. Ebben az esetben
          érdemes párásítani a helyiséget, vagy alkalmazni műbőr ápolószert.
        </li>
      </ol>
    </div>
  </div>
  <div>
    <h4 class="p-4 text-center fst-italic">Általános tippek:</h4>
    <p>
      <span class="fw-semibold">Kerüld az éles tárgyakat:</span> Mind a bőr,
      mind a műbőr könnyen megsérülhet éles tárgyak, például cipzárak vagy
      gombok által. Ügyelj arra, hogy ezek ne érintkezzenek közvetlenül az
      anyaggal.
    </p>
    <p>
      <span class="fw-semibold">Helyi javítás:</span> Ha kisebb repedések vagy
      sérülések keletkeznek, léteznek speciális bőr- vagy műbőr javítókészletek,
      amelyekkel helyre lehet állítani az anyagot.
    </p>
  </div>
</section>
