.static-background {
  background-color: #f1f1f1;
  padding: 100px; /* Adjust as necessary */
}

.scroll-background {
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fhu.wikipedia.org%2Fwiki%2FJake_Paul&psig=AOvVaw3l_9QjblkTHXJMPjjULRtj&ust=1731824758122000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCIjhq7ei4IkDFQAAAAAdAAAAABAE");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
