<app-components-nav></app-components-nav>
<section class="container w-75 marginTopNav">
  <h3 class="pb-4">A kosarad</h3>
  <div class="row">
    <div class="col-12 col-md-6">
      <ul>
        <li class="decorationNone">
          <div class="row">
            <div class="col-3">Kép</div>
            <div class="col-6">
              <h6 class="">Termék neve</h6>
              <p class="text-secondary fs-6 fw-lighter">Gyártó</p>
              <div class="row align-items-center">
                <div class="col-6">
                  <div
                    class="row justify-content-between align-items-stretch border"
                  >
                    <!-- <div
                      class="col-4 d-flex justify-content-center align-items-center ps-0 pe-0"
                    >
                      <button
                        class="btn btn-light w-100 h-100"
                        (click)="decreaseQuantity()"
                        [disabled]="quantity === 1"
                      >
                        -
                      </button>
                    </div>
                    <div
                      class="col-4 d-flex justify-content-center align-items-center"
                    >
                      <span>{{ quantity }}</span>
                    </div>
                    <div
                      class="col-4 d-flex justify-content-center align-items-center ps-0 pe-0"
                    >
                      <button
                        class="btn btn-light w-100 h-100"
                        (click)="increaseQuantity()"
                      >
                        +
                      </button>
                    </div> -->
                  </div>
                </div>
                <div class="col-6">
                  <span class="d-inline deleteBadge"
                    ><i class="fa-solid fa-trash"></i
                  ></span>
                </div>
              </div>
            </div>
            <div class="col-3"><h6>Ára Ft</h6></div>
          </div>
        </li>
      </ul>
      <hr />
      <h5 class="pt-3">Ezek is érdekelhetnek...</h5>
      <p>termék kártyák</p>
    </div>
    <div class="col-12 col-md-6 border border-secondary-subtle">
      <h5 class="pt-3">Megrendelés összesítő</h5>
      <div class="accordion" id="accordion">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-controls="collapseOne"
              aria-expanded="false"
            >
              Rendelési megjegyzés hozzáadása
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse"
            data-bs-parent="#accordion"
          >
            <div>
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-6"><h5>Összeg:</h5></div>
        <div class="col-6 text-end"><h5>Ára Ft</h5></div>
      </div>

      <button class="btn btn-dark w-100 mb-3 mt-2">Vásárlás</button>
    </div>
  </div>
</section>
