.marginTopNav {
  margin-top: 80px;
}
.decorationNone {
  list-style: none;
}
.accordion-button {
  background-color: white;
  outline: none;
}

.accordion-button:not(.collapsed) {
  background-color: #e3986d;
  color: white;
  outline: none;
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
}

.accordion-body {
  background-color: #f8f9fa;
  color: #e3986d;
}

.deleteBadge {
  cursor: pointer;
}

.thumbnail {
  width: 100px;
  height: 120px;
  object-fit: contain;
}
