<div class="container">
  <div class="row justify-content-center" *ngIf="products?.length">
    <div
      *ngFor="let product of products"
      class="col-sm-12 col-md-6 col-lg-4 mb-4"
    >
      <div class="card">
        <img [src]="product?.images" alt="{{ product?.name }}" />
        <h2>{{ product.name }}</h2>
        <h4>{{ product.manufacturer }}</h4>
        <p>{{ product.description }}</p>
        <p><strong>Ár:</strong> {{ product.price }} Ft</p>
      </div>
      <div class="card text-dark mx-auto">
        <!-- Update button -->
        <a
          *ngIf="isAdmin && product?.id && product?.category"
          class="badge-update"
          [routerLink]="['/', product.category, product.id]"
        >
          <i class="fa-solid fa-pen fa-xl" style="color: #1a4566"></i>
        </a>
      </div>

      <div class="card-body">
        <!-- Product title -->
        <h4 class="card-title mt-0">
          <a class="text-dark" href="javascript:void(0)">
            {{ product?.name }}
          </a>
        </h4>

        <!-- Product image -->
        <img
          *ngIf="product?.images"
          [src]="product.images"
          [alt]="product?.name"
          class="img-fluid"
        />
        <p *ngIf="!product?.images">Kép nem érhető el</p>

        <!-- Product price -->
        <div class="card-footer text-center">
          <p class="mb-0">{{ product?.price }} Forint</p>
        </div>
      </div>
    </div>
  </div>
</div>
<p *ngIf="!products?.length" class="text-center">Nincsenek elérhető termékek</p>
