<app-components-nav></app-components-nav>
<section class="container marginTopNav w-75">
  <h4 class="text-center p-4">A FENIX anyag, miért jó választás?</h4>
  <p>
    A <span class="fw-semibold">FENIX</span> egy speciális, nanotechnológiával
    előállított anyag, amelyet a belsőépítészetben használnak különféle
    felületek, például konyhapultok, bútorfrontok és irodai felületek
    burkolására. A FENIX felületek megjelenése és tulajdonságai rendkívül
    egyediek: ultra-matt, selymes tapintásúak, ujjlenyomat-mentesek, és
    ellenállnak a szennyeződéseknek. Az anyag felépítése révén hőre lágyuló
    tulajdonsággal is rendelkezik, ami lehetővé teszi, hogy hő hatására a kisebb
    karcolások és sérülések eltüntethetők legyenek, ami egyedülálló előny a
    hagyományos felületekkel szemben. terekben.
  </p>
  <p>
    A FENIX anyag különlegessége nem csupán a karcállóságban és a szennyeződések
    elleni védelemben rejlik, hanem abban is, hogy rendkívül tartós és
    színstabil. Ennek köszönhetően az idő múlásával sem veszíti el eredeti
    esztétikai tulajdonságait, még akkor sem, ha nagy igénybevételnek van
    kitéve. Konyhákban, fürdőszobákban, irodákban és egyéb gyakran használt
    helyiségekben is megőrzi szépségét. Az antibakteriális felületi technológia
    különösen alkalmassá teszi egészségügyi és higiéniai szempontból érzékeny
    terekben, mint például konyhákban, ahol a folyamatos tisztaság fenntartása
    elsődleges fontosságú.
  </p>
  <div class="text-center">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/gvUqD8uKs6k?si=EkUZAroGatKnTcHh"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
  <h5 class="text-center p-4">Miért jó a FENIX anyag?</h5>
  <ul class="list-unstyled">
    <li>
      <span class="fw-semibold">Matt felület és ujjlenyomat-mentesség:</span>
      A FENIX anyag különlegesen sima és mélyen matt felülettel rendelkezik, ami
      nem csak esztétikus, de az ujjlenyomatok sem hagynak nyomot rajta.
    </li>
    <li>
      <span class="fw-semibold">Karc- és hőállóság:</span>
      Ez az anyag rendkívül ellenálló a karcolásokkal és a kisebb mechanikai
      sérülésekkel szemben. Kisebb karcok esetén hővel, például egy vasaló
      segítségével, helyreállítható a felület.
    </li>
    <li>
      <span class="fw-semibold">Higiénikus és antibakteriális:</span>
      A nanotechnológiai gyártásnak köszönhetően a FENIX felület gátolja a
      baktériumok elszaporodását, így konyhai használatra is ideális választás.
    </li>
    <li>
      <span class="fw-semibold">Érintésre meleg és selymes tapintás:</span>
      A FENIX felület érintése meleg, selymes érzést kelt, ami különleges
      felhasználói élményt nyújt, szemben sok hideg, fényes felülettel.
    </li>
    <li>
      <span class="fw-semibold">Színstabilitás és tartósság:</span>
      Nem fakul el idővel, és kiválóan ellenáll a mindennapi igénybevételnek.
    </li>
  </ul>
</section>
<div class="container w-75 mt-5">
  <div class="row align-items-center">
    <div class="col-12 col-md-6">
      <h5 class="text-center p-4">Hogyan kell tisztítani a FENIX felületet?</h5>
      <p>
        A FENIX anyag
        <span class="fw-semibold">tisztítása rendkívül egyszerű</span>, és nem
        igényel bonyolult karbantartást. A napi tisztításhoz elegendő egy puha,
        nedves ruhával letörölni a felületet, amit enyhe tisztítószerrel is
        kiegészíthetsz. Mivel a felület ujjlenyomat-mentes, nincs szükség
        gyakori tisztításra, és a szennyeződések is kevésbé tapadnak meg rajta.
        A
        <span class="fw-semibold">makacsabb foltok</span>
        eltávolításához használhatsz alkoholmentes tisztítószert vagy enyhén
        alkoholos tisztító folyadékot. Fontos azonban kerülni a súrolószereket
        és az erősen maró vegyszereket, mivel ezek károsíthatják a felületet.
      </p>
      <p>
        Ha kisebb karcolások jelennek meg, a FENIX felület különleges
        tulajdonsága, hogy hővel helyrehozható. Egy meleg vasaló és egy nedves
        kendő segítségével a karcolt területet finoman át lehet dörzsölni, és a
        hő hatására az anyag regenerálódik. Ezt a képességét hívják
        <span class="fw-semibold">hőre lágyuló regenerációnak</span>, ami
        egyedülálló előnyt biztosít a mindennapi használat során. A rendszeres
        karbantartással és megfelelő tisztítással a FENIX felületek hosszú
        évekig megőrzik újszerű állapotukat.
      </p>
    </div>
    <div class="col-12 col-md-6">
      <img
        src="https://images.unsplash.com/photo-1519947486511-46149fa0a254?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="chair"
        class="mw-100 text-center"
      />
    </div>
  </div>
</div>
